In [1]:
# Import dependencies
from sqlalchemy import create_engine
import pandas as pd
from config import username, password

In [2]:
# Create engine connecting to database path
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/la_airbnb')

In [3]:
# Define queries
query_hosts = "SELECT * FROM hosts"
# query_listing = "SELECT * FROM listing_location_details"
# query_reviews = "SELECT * FROM Reviews_Data"
# query_housing = "SELECT * FROM housing_details"
# query_price_reviews = "SELECT * FROM Price_vs_Reviews"

In [4]:
### Read tables into DataFrames:


# Hosts table to DataFrame
df_hosts = pd.read_sql(query_hosts, engine)
df_hosts.head()

,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_is_superhost,host_neighbourhood,host_total_listings_count,host_listings_in_sample,host_verifications,host_has_profile_pic,host_identity_verified
0,767,Melissa,2008-07-11,"Burbank, California, United States",None,NaN,False,Burbank,1.0,1.0,"['email', 'phone', 'reviews', 'jumio', 'kba']",True,True
1,3415,Nataraj,2008-10-02,"Los Angeles, California, United States",within a day,70.0,False,Laurel Canyon,6.0,1.0,"['email', 'phone', 'reviews', 'jumio']",True,True
2,3685,Jen,2008-10-16,United States,within a day,90.0,True,Studio City,4.0,2.0,"['email', 'phone', 'facebook', 'reviews', 'kba...",True,True
3,6829,Barrett,2009-01-16,"Los Angeles, California, United States",within an hour,100.0,False,Mid-City,5.0,2.0,"['email', 'phone', 'reviews', 'jumio']",True,True
4,9171,Sanni,2009-03-05,"Los Angeles, California, United States",within an hour,100.0,True,Del Rey,7.0,2.0,"['email', 'phone', 'facebook', 'reviews']",True,False

In [ ]:
# Locations table to DataFrame
df_listing_location_details = pd.read_sql(query_listing, engine)
df_listing_location_details.head()

In [ ]:
# Reviews table to DataFrame
df_reviews = pd.read_sql(query_reviews, engine)
df_reviews.head()

In [ ]:
# Locations table to DataFrame
df_housing = pd.read_sql(query_housing, engine)
df_housing.head()

In [ ]:
# Price vs. Reviews table to DataFrame
df_price_reviews = pd.read_sql(query_price_reviews, engine)
df_price_reviews.head()