In [2]:
# Import dependencies 
import pandas as pd

In [3]:
# Load in the sample data
sample_df = pd.read_csv("Resources/Listings_Cleaned_Sample.csv")
sample_df.head()

C:\Users\aed3h\AppData\Local\Temp\ipykernel_19100\2246255270.py:2: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  sample_df = pd.read_csv("Resources/Listings_Cleaned_Sample.csv")

,Unnamed: 0,id,name,summary,space,description,neighborhood_overview,notes,transit,access,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,0,15461810,Cozy Private Room with parking (12B),Very small room with twin bed. This room is a ...,This very small room is located in a dorm-styl...,Very small room with twin bed. This room is a ...,This is a lower-middle class neighborhood. It ...,Keys- Mary issues keys to guests for the build...,Bus stop within walking distance.,NaN,...,NaN,10.0,NaN,NaN,f,moderate,f,f,30,0.18
1,1,13416156,2 bedrooms and 1.5 bathrooms,"Our comfortable, quiet rooms, located on the ...","This a single family house, 4 Bedrooms and 2.5...","Our comfortable, quiet rooms, located on the ...",Super quiet!,Use washer and dryer for $5/use including laun...,"Can walk 30 mins to store, restaurants! And pu...",Kitchen,...,10.0,10.0,10.0,10.0,f,strict,f,f,2,0.65
2,2,9136734,10 min walk to Abbot Kinney in Venice!,"Beautiful, newly remodeled 3BR 2BA apartment i...","Comfortable space that feels like home, our pl...","Beautiful, newly remodeled 3BR 2BA apartment i...",NaN,NaN,"Walking around Venice is easy as Abbot Kinney,...",Guests will be able to access every space insi...,...,10.0,10.0,10.0,10.0,t,flexible,f,f,1,0.24
3,3,3378135,Large room in Culver/Mar Vista,The perfect place for travelers in the best ar...,"This large, private room is perfect for any tr...",The perfect place for travelers in the best ar...,"Simply put, I love Mar Vista! I am just 3 mile...",My passion is health and wellness. Feel free t...,"If I'm not using it, you are totally welcome t...","The shared space includes large living room, f...",...,10.0,10.0,10.0,9.0,f,flexible,f,f,2,0.41
4,4,4403665,"Silver Lake, Large 1BD with views 7",Stay 31 days or more and pay no taxes. Large b...,Unlike many other guest rentals you will find ...,Stay 31 days or more and pay no taxes. Large b...,There are views of the surrounding mountains a...,• Please only book my place if you can check o...,The neighborhood is a very desirable area to l...,NaN,...,10.0,10.0,9.0,9.0,t,moderate,t,t,19,0.73

In [4]:
# Create DataFrame of just the Host-related columns
df_hosts = sample_df[['host_id','host_name','host_since','host_location',
                            'host_response_time','host_response_rate',
                            'host_is_superhost','host_neighbourhood',
                            'host_total_listings_count','host_verifications',
                            'host_has_profile_pic','host_identity_verified']].copy()
df_hosts.head()

,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_is_superhost,host_neighbourhood,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified
0,9464908,Mary & Sally,2013-10-16,"Los Angeles, California, United States",within a few hours,98%,f,Inglewood,30.0,"['email', 'phone', 'reviews']",t,f
1,48449293,Daniella,2015-11-08,"Rowland Heights, California, United States",within an hour,100%,t,NaN,3.0,"['email', 'phone', 'facebook', 'reviews']",t,f
2,45839570,Paul,2015-10-05,"Los Angeles, California, United States",NaN,NaN,f,Venice,1.0,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,t
3,171168,Anita,2010-07-18,"Los Angeles, California, United States",within a day,100%,f,Mar Vista,2.0,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t
4,8258320,Keller,2013-08-19,"Los Angeles, California, United States",within a few hours,99%,t,Hollywood,21.0,"['email', 'phone', 'reviews', 'jumio']",t,t

In [5]:
# Explore the data
print(df_hosts.shape)
df_hosts.dtypes

(10000, 12)

host_id                        int64
host_name                     object
host_since                    object
host_location                 object
host_response_time            object
host_response_rate            object
host_is_superhost             object
host_neighbourhood            object
host_total_listings_count    float64
host_verifications            object
host_has_profile_pic          object
host_identity_verified        object
dtype: object

In [6]:
# Clean columns / convert datatypes

# Host response rate column: 
df_hosts['host_response_rate'] = (df_hosts['host_response_rate'].astype('string').str.strip('%').str.strip()
                                   .astype(float))

# Superhost column:
# Convert t and f to boolean values and datatype
df_hosts['host_is_superhost'] = df_hosts['host_is_superhost'].fillna('f').map({'t': True, 'f': False})

# Host profile pic column:
df_hosts['host_has_profile_pic'] = df_hosts['host_has_profile_pic'].fillna('f').map({'t': True, 'f': False})

# Host identity verified column:
df_hosts['host_identity_verified'] = df_hosts['host_identity_verified'].fillna('f').map({'t': True, 'f': False})

In [7]:
# Confirm data type changes
print(f"host_response_rate: {df_hosts['host_response_rate'].dtype}")
print(f"host_is_superhost: {df_hosts['host_is_superhost'].dtype}")
print(f"host_has_profile_pic: {df_hosts['host_has_profile_pic'].dtype}")
print(f"host_identity_verified: {df_hosts['host_identity_verified'].dtype}")

host_response_rate: float64
host_is_superhost: bool
host_has_profile_pic: bool
host_identity_verified: bool

In [8]:
# Confirm that some hosts have multiple properties
host_listings_in_sample = df_hosts['host_id'].value_counts()
host_listings_in_sample

host_id
21940642    18
16862571    14
58481702    13
3392276     12
55067641    12
            ..
50023454     1
29772165     1
35020877     1
20465338     1
49316230     1
Name: count, Length: 8075, dtype: int64

In [9]:
# Create a dictionary mapping host_id to its count
host_id_count_dict = host_listings_in_sample.to_dict()

# Map the host_id values to their counts and create a new column
df_hosts['host_listings_in_sample'] = df_hosts['host_id'].map(host_id_count_dict)

In [10]:
# Reorder the new column 
df_hosts.insert(9, 'host_listings_in_sample', df_hosts.pop('host_listings_in_sample'))

In [11]:
# Confirm the new column was created and re-located
df_hosts.head(3)

,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_is_superhost,host_neighbourhood,host_total_listings_count,host_listings_in_sample,host_verifications,host_has_profile_pic,host_identity_verified
0,9464908,Mary & Sally,2013-10-16,"Los Angeles, California, United States",within a few hours,98.0,False,Inglewood,30.0,10,"['email', 'phone', 'reviews']",True,False
1,48449293,Daniella,2015-11-08,"Rowland Heights, California, United States",within an hour,100.0,True,NaN,3.0,1,"['email', 'phone', 'facebook', 'reviews']",True,False
2,45839570,Paul,2015-10-05,"Los Angeles, California, United States",NaN,NaN,False,Venice,1.0,1,"['email', 'phone', 'facebook', 'reviews', 'jum...",True,True

In [12]:
# Drop the hosts with ids listed more than once and confirm
df_hosts.drop_duplicates(subset=['host_id'], inplace=True)
df_hosts['host_id'].value_counts().max()

1

In [13]:
df_hosts.head(2)

,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_is_superhost,host_neighbourhood,host_total_listings_count,host_listings_in_sample,host_verifications,host_has_profile_pic,host_identity_verified
0,9464908,Mary & Sally,2013-10-16,"Los Angeles, California, United States",within a few hours,98.0,False,Inglewood,30.0,10,"['email', 'phone', 'reviews']",True,False
1,48449293,Daniella,2015-11-08,"Rowland Heights, California, United States",within an hour,100.0,True,NaN,3.0,1,"['email', 'phone', 'facebook', 'reviews']",True,False

In [14]:
# Order the dataframe by host_id
df_hosts = df_hosts.sort_values(by='host_id')

In [15]:
# Reset the index after cleaning
df_hosts.reset_index(drop=True, inplace=True)

In [16]:
# Export the Hosts dataframe
df_hosts.to_csv('data/hosts.csv', index=False)