In [9]:
import pandas as pd

In [10]:
df=pd.read_csv("C:/Users/cdj3e/vu_bootcamp/Project_03_Data_Engineering/Resources/Listings_Cleaned_Sample.csv")
df.head()

C:\Users\cdj3e\AppData\Local\Temp\ipykernel_7576\1602827950.py:1: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("C:/Users/cdj3e/vu_bootcamp/Project_03_Data_Engineering/Resources/Listings_Cleaned_Sample.csv")

,Unnamed: 0,id,name,summary,space,description,neighborhood_overview,notes,transit,access,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,0,15461810,Cozy Private Room with parking (12B),Very small room with twin bed. This room is a ...,This very small room is located in a dorm-styl...,Very small room with twin bed. This room is a ...,This is a lower-middle class neighborhood. It ...,Keys- Mary issues keys to guests for the build...,Bus stop within walking distance.,NaN,...,NaN,10.0,NaN,NaN,f,moderate,f,f,30,0.18
1,1,13416156,2 bedrooms and 1.5 bathrooms,"Our comfortable, quiet rooms, located on the ...","This a single family house, 4 Bedrooms and 2.5...","Our comfortable, quiet rooms, located on the ...",Super quiet!,Use washer and dryer for $5/use including laun...,"Can walk 30 mins to store, restaurants! And pu...",Kitchen,...,10.0,10.0,10.0,10.0,f,strict,f,f,2,0.65
2,2,9136734,10 min walk to Abbot Kinney in Venice!,"Beautiful, newly remodeled 3BR 2BA apartment i...","Comfortable space that feels like home, our pl...","Beautiful, newly remodeled 3BR 2BA apartment i...",NaN,NaN,"Walking around Venice is easy as Abbot Kinney,...",Guests will be able to access every space insi...,...,10.0,10.0,10.0,10.0,t,flexible,f,f,1,0.24
3,3,3378135,Large room in Culver/Mar Vista,The perfect place for travelers in the best ar...,"This large, private room is perfect for any tr...",The perfect place for travelers in the best ar...,"Simply put, I love Mar Vista! I am just 3 mile...",My passion is health and wellness. Feel free t...,"If I'm not using it, you are totally welcome t...","The shared space includes large living room, f...",...,10.0,10.0,10.0,9.0,f,flexible,f,f,2,0.41
4,4,4403665,"Silver Lake, Large 1BD with views 7",Stay 31 days or more and pay no taxes. Large b...,Unlike many other guest rentals you will find ...,Stay 31 days or more and pay no taxes. Large b...,There are views of the surrounding mountains a...,• Please only book my place if you can check o...,The neighborhood is a very desirable area to l...,NaN,...,10.0,10.0,9.0,9.0,t,moderate,t,t,19,0.73

In [11]:
df_clean=df.drop(columns=['id','name','summary','space','description','neighborhood_overview','notes','interaction','house_rules','host_name','host_since','host_location','host_about','host_response_time','host_response_rate','host_is_superhost','host_listings_count','host_total_listings_count','host_verifications','host_has_profile_pic','host_identity_verified','street', 'neighbourhood','transit','access','host_neighbourhood','neighbourhood_cleansed','country','latitude','city','state','zipcode','market','smart_location','country_code','longitude','is_location_exact','property_type','room_type','accommodates','bathrooms','bedrooms','beds','bed_type','amenities','square_feet','price','weekly_price','monthly_price','security_deposit','cleaning_fee','guests_included','extra_people','minimum_nights','maximum_nights','instant_bookable','cancellation_policy','require_guest_profile_picture','require_guest_phone_verification','calculated_host_listings_count'])
df_clean.head()

,Unnamed: 0,host_id,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,0,9464908,1,2016-11-14,2016-11-14,100.0,10.0,6.0,NaN,10.0,NaN,NaN,0.18
1,1,48449293,6,2016-08-01,2017-02-13,100.0,10.0,10.0,10.0,10.0,10.0,10.0,0.65
2,2,45839570,1,2017-01-01,2017-01-01,80.0,10.0,8.0,10.0,10.0,10.0,10.0,0.24
3,3,171168,14,2014-07-20,2016-08-21,91.0,9.0,8.0,10.0,10.0,10.0,9.0,0.41
4,4,8258320,22,2014-11-17,2017-02-05,97.0,10.0,10.0,10.0,10.0,9.0,9.0,0.73

In [12]:
df_clean.drop_duplicates(subset=['host_id'], keep='first')

,Unnamed: 0,host_id,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,0,9464908,1,2016-11-14,2016-11-14,100.0,10.0,6.0,NaN,10.0,NaN,NaN,0.18
1,1,48449293,6,2016-08-01,2017-02-13,100.0,10.0,10.0,10.0,10.0,10.0,10.0,0.65
2,2,45839570,1,2017-01-01,2017-01-01,80.0,10.0,8.0,10.0,10.0,10.0,10.0,0.24
3,3,171168,14,2014-07-20,2016-08-21,91.0,9.0,8.0,10.0,10.0,10.0,9.0,0.41
4,4,8258320,22,2014-11-17,2017-02-05,97.0,10.0,10.0,10.0,10.0,9.0,9.0,0.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,9994,94492934,3,2017-02-16,2017-03-12,93.0,10.0,10.0,10.0,10.0,10.0,10.0,1.17
9995,9995,1283043,73,2015-06-18,2017-04-26,84.0,9.0,9.0,9.0,9.0,8.0,9.0,3.19
9996,9996,11294711,24,2016-10-15,2017-05-01,96.0,10.0,9.0,10.0,10.0,10.0,10.0,3.58
9998,9998,39698521,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,9999,49316230,1,2017-04-30,2017-04-30,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1.00

In [13]:
for column in df_clean.columns:
    print(f'{column}: {df_clean[column].dtype}')

Unnamed: 0: int64
host_id: int64
number_of_reviews: int64
first_review: object
last_review: object
review_scores_rating: float64
review_scores_accuracy: float64
review_scores_cleanliness: float64
review_scores_checkin: float64
review_scores_communication: float64
review_scores_location: float64
review_scores_value: float64
reviews_per_month: float64

In [14]:
df_clean['first_review'] = pd.to_datetime(df_clean['first_review'])
df_clean['last_review'] = pd.to_datetime(df_clean['last_review'])
df_clean['review_scores_rating'] = df_clean['review_scores_rating'].astype('Int64')
df_clean['review_scores_accuracy'] = df_clean['review_scores_accuracy'].astype('Int64')
df_clean['review_scores_cleanliness'] = df_clean['review_scores_cleanliness'].astype('Int64')
df_clean['review_scores_checkin'] = df_clean['review_scores_checkin'].astype('Int64')
df_clean['review_scores_communication'] = df_clean['review_scores_communication'].astype('Int64')
df_clean['review_scores_location'] = df_clean['review_scores_location'].astype('Int64')
df_clean['review_scores_value'] = df_clean['review_scores_value'].astype('Int64')
df_clean['reviews_per_month'] = df_clean['reviews_per_month'].astype('string')

In [15]:
for column in df_clean.columns:
    print(f"{column}: {df_clean[column].dtype}")

Unnamed: 0: int64
host_id: int64
number_of_reviews: int64
first_review: datetime64[ns]
last_review: datetime64[ns]
review_scores_rating: Int64
review_scores_accuracy: Int64
review_scores_cleanliness: Int64
review_scores_checkin: Int64
review_scores_communication: Int64
review_scores_location: Int64
review_scores_value: Int64
reviews_per_month: string

In [16]:
df_clean.to_csv("C:\\Users\\cdj3e\\vu_bootcamp\\Project_03_Data_Engineering\\Resources\\Reviews_Data.csv", index=False)

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\cdj3e\\vu_bootcamp\\Project_03_Data_Engineering\\Resources\\Reviews_Data.csv'